# Python cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/
env/

# Environment variables / secrets
.env

# Chroma vector database
chroma_db/
*.sqlite3
*.bin

# Jupyter
.ipynb_checkpoints/

# OS/editor files
.DS_Store
Thumbs.db
.vscode/

__pycache__